@using Demo.DTO.DTOs.ProductDtos
@model List<ProductListDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-primary" asp-action="Create" asp-controller="Product">Yeni Ürün</a>

<table class=" table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Kategorisi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Category.Name</td>
                <td>
                    <a class="btn btn-success" asp-action="Update" asp-controller="Product" asp-route-id="@product.Id">Güncelle</a>
                    <a class="btn btn-danger" asp-action="Remove" asp-controller="Product" asp-route-id="@product.Id">Sil</a>
                </td>
            </tr>
        }

    </tbody>
</table>
